<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Vagrantpress : A WordPress Development Environment With Vagrant/Puppet" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_PATH }}/css/stylesheet.css">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37877528-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <title>Vagrantpress</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/chad-thompson/vagrantpress">View on GitHub</a>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/chad-thompson/vagrantpress/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/chad-thompson/vagrantpress/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      
      {{ content }}
      
    </section>

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Vagrantpress maintained by <a href="https://github.com/chad-thompson">chad-thompson</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
